.profile{
  div{
    position: relative;
    img{width: 100%;}
    a{
      width: 150px;
      height: 30px;
      border-radius: 10px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%);
      background: #ffffff;
      text-align: center;
      color: #188ae4;
      line-height: 30px;
    }
  }
}
.cart{
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .cart-item{
    margin-top: -50%;
    .cart-img{
      width: 90px;
      height: 90px;
    }
    .cart-text{
      display: block;
      font-size: 15px;
      color: #7f7f7f;
      margin-top: 20px;
    }
  }
}